<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ /BelajarPHP-Login-PDO/$1.php
#RewriteRule ^([a-z]+)\/?$ /BelajarPHP-Login-PDO/$1.php [NC]
#RewriteRule ^(.*)$ /BelajarPHP-Login-PDO/product$1.php
</IfModule>